.collection {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    height: 56px;
    background: var(--bg-content);
    color: var(--text-normal);
    padding-left: 20px;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-left {
    flex: 1 1 268px;
}
.navbar-center {
    flex: 1 1 776px;
}
.navbar-right {
    flex: 1 1 0;
}
.search-field {
    background-color: var(--bg-total);
    border-radius: 40px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 8px;
    flex: 1;
    max-width: 776px;
    margin-right: 20px;
}
.search-field > input {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0 5px;
    padding: 0;
    width: 100%;
    line-height: 185%;
}
.search-field__close-btn {
    visibility: hidden;
}
.search-field > input:not(:placeholder-shown) + .search-field__close-btn {
    visibility: visible;
}
.toolbar {
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-content);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}
.toolbar-wrapper {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toolbar-wrapper__left {
    padding-left: 10px;
}
.toolbar-wrapper__left > .checkbox {
    margin-right: 25px;
}
.order-btn__content {
    display: inline-flex; 
    align-items: center;
    pointer-events: none;
}
.order-btn__content__icons {
    display: inline-flex;
    line-height: 0;
    margin-left: 5px;
    flex-direction: column;
}
.main-title {
    font-size: 150%;
    font-weight: 500;
}
.no-record {
    margin-left: 62px;
    margin-top: 20px;
    opacity: 0.6;
    font-size: 24px;
}
.container {
    width: 100%;
    flex: 1;
    display: flex;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    min-width: 600px;
}
.left {
    height: 100%;
    overflow-y: auto;
}
.cards {
    width: 300px;
}
.cards__item {
    display: flex;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    padding-left: 10px;
}
.cards__item:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}
.cards__item > .checkbox {
    opacity: 0.3;
}
.cards__item:hover > .checkbox {
    opacity: 1;
}
.main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    max-width: 816px;
}
.card-wrapper {
    flex: 1;
    overflow: hidden;
}
.card__content {
    padding: 8px 16px 0 16px;
}
.card__title {
    font-size: 24px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card__translation {
    opacity: 0.6;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}
.card__date-sources {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.card__date-sources__date {
    margin-right: 5px;
    opacity: 0.6;
}
.card__date-sources__sources {
    flex: 1;
    text-align: right;
}
.translations-container > div[class*=translations-container__] + div {
    margin-top: 20px;
}
.translations-container__title {
    font-size: 24px;
}
.translations-container__toolbox {
    display: flex;
    justify-content: right;
    align-items: center;
}
.note__text-area {
    display: block;
    width: 100%;
    min-height: 100px;
    resize: vertical;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-normal);
    border-color: rgb(25, 118, 210);
    outline-color: rgb(25, 118, 210);
}
.note__update {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.translations-container__undo-delete-note {
    font-size: 16px;
    display: inline-flex;
    background-color: #fff;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
    font-weight: 500;
}
.translations-container__undo-delete-note>button:first-child {
    margin-left: 10px;
}
.translations-container__source-favicon {
    margin-right: 5px;
}
.translations-container__item {
    font-size: 16px;
    background-color: var(--bg-content);
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
}
.backdrop {
    background-color: rgba(0,0,0,.6);
    inset: 0;
    position: fixed;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirm-delete, .add-tag {
    background-color: #fff;
    border-radius: 16px;
    width: 400px;
}
.confirm-delete__close, .add-tag__close {
    display: flex;
    justify-content: flex-end;
}
.tags__item {
    display: inline-flex;
    align-items: center;
    border-radius: 2em;
    border: 1px solid rgb(25, 118, 210);
    padding: 0 7px;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 3px;
}
.tags__item > .iconfont {
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.6;
}
.add-tag__content {
    display: flex;
    margin: 20px;
    position: relative;
    align-items: center;
}
.add-tag__content > input {
    flex: 1;
    outline: none;
    border: none;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.87);
    letter-spacing: 0.00938em;
    padding: 8px 0;
}
.add-tag__content::before, .add-tag__content::after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    pointer-events: none;
}
.add-tag__content::before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
.add-tag__content:hover::before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}
.add-tag__content::after {
    border-bottom: 2px solid rgb(25, 118, 210);
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.add-tag__content:focus-within::after {
    transform: scaleX(1) translateX(0);
}
.confirm-delete__close > button, .add-tag__close > button {
    top: 5px;
    right: 5px;
}
.confirm-delete__buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.confirm-delete__content {
    margin: 20px 0;
}
.confirm-delete__content > span {
    text-align: start;
}
.confirm-delete__content > button {
    width: 100%;
    justify-content: space-between;
    text-transform: unset;
    --color-default: #333;
    height: unset;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 400;
    border-radius: unset;
}
.confirm-delete__content > button .ripple {
    border-radius: unset;
}
.confirm-delete__content__list {
    max-height: 148px;
    overflow-y: auto;
}
.confirm-delete__content__list_item {
    font-size: 16px;
    padding: 8px 16px 8px 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}