.container {
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    width: 250px;
    height: fit-content;
    background: var(--bg-total);
    padding-bottom: 2px;
    background-color: var(--bg-total);
    color: var(--text-normal) !important;
}
.content {
    margin: 0 auto;
    height: fit-content;
    width: 240px;
    color: var(--text-normal);
}
.ts-mt-content {
    width: 246px;
    margin: 2px auto;
    max-height: 250px;
    overflow-y: auto;
}
.ts-mt-content::-webkit-scrollbar{
    width:4px;
}
.ts-mt-content::-webkit-scrollbar-track{
    background: rgb(239, 239, 239);
    border-radius:2px;
}
.ts-mt-content::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius:20px;
}
.ts-mt-content::-webkit-scrollbar-thumb:hover{
    background: #999;
}
.ts-mt-result-add-translate-source {
    word-break: break-all;
    padding: 10px;
}