.container {
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    width: 250px;
    height: fit-content;
    background: var(--bg-total);
    padding-bottom: 2px;
    color: var(--text-normal) !important;
}
.content {
    margin: 0 auto;
    height: fit-content;
    width: 240px;
    color: var(--text-normal);
}
.ts-mt-content {
    width: 246px;
    margin: 2px auto;
    max-height: 250px;
    overflow-y: auto;
}
.ts-mt-result-add-translate-source {
    word-break: break-all;
    padding: 10px;
}