.single-translation-container {
    min-height: 250px;
}
.single-translation {
    background: var(--bg-content);
    border-radius: 6px;
}
.single-translation__translation {
    padding: 0 10px;
    max-height: 300px;
    overflow-y: auto;
}