.history-result-panel {
    padding-left: 10px;
    position: fixed;
}
.history-result-panel__container {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 4px 4px 1px 4px;
    width: 200px;
    background: var(--bg-total);
    border-radius: 5px;
    user-select: text;
    max-height: calc(100vh - 45px);
    overflow-y: auto;
}