.favicon {
    vertical-align: bottom;
    user-select: none;
    display: inline-block;
    padding: 0;
    width: 20px;
    height: 20px;
}
.favicon--mock {
    justify-content: center;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    background: #999;
    font-weight: bold;
}
.favicon + span {
    margin-left: 5px;
}