.source-favicon {
    display: inline-flex;
    align-items: center;
}
.favicon {
    font-size: 20px;
    user-select: none;
    display: inline-block;
    padding: 0;
    width: 1em;
    height: 1em;
}
.favicon--mock {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    background: #999;
    font-weight: bold;
    flex-shrink: 0;
}
.favicon--mock-text {
    font-size: 0.7em;
}
.favicon + span {
    margin-left: 4px;
}