.host-list {
    width: 400px;
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
    border-radius: 4px;
}
.host-list__bar {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.host-list__add {
    display: flex;
    flex: 1;
    column-gap: 4px;
}
.host-list__add input {
    flex: 1;
}
.host-list__box {
    height: 150px;
    overflow-y: auto;
}
.host-list__item {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.host-list__item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}
.host-list__item:has(:checked) {
    background-color: rgba(25, 118, 210, 0.08);
}
.host-list__item:has(:checked):hover {
    background-color: rgba(25, 118, 210, 0.12);
}
.host-list__bar, .host-list__item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.host-list__bar, .host-list__item {
    padding: 0 5px;
}