.translate-button-display__preview {
    height: 30px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.translate-button-display__item {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}