.options-menu {
    display: inline-block;
}
.options-menu__item {
    padding: 10px 0 10px 60px;
    width: 250px;
}
.options-menu__item:hover {
    opacity: 0.6;
}
.side-bar-menu {
    padding-top: 56px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.side-bar-menu__items {
    height: 100%;
    overflow: auto;
}
.nav-bar-menu__icon {
    font-size: 250% !important;
    margin-right: 10px;
}
.nav-bar-menu__backdrop {
    background-color: rgba(0,0,0,.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10000;
    display: none;
}
.nav-bar-menu__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background: var(--bg-total);
    transition: transform 200ms;
    transform: translateX(-100%);
    z-index: 10001;
}
.nav-bar-menu__sidebar-brand {
    font-size: 115%;
    height: 56px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.nav-bar-menu__sidebar-items {
    width: 250px;
}
.nav-bar-menu--show .nav-bar-menu__sidebar {
    transform: translateX(0);
}
.nav-bar-menu--show .nav-bar-menu__backdrop {
    display: block;
}