.customize-board-options {
    display: flex;
    width: 800px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    color: #666;
}
.customize-board-options__colors-offset {
    display: flex;
}
.customize-board-options__colors-offset-item {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 4px;
}
.customize-board-options__colors-title {
    margin: 2px;
}
.customize-board-options__colors-color {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 0px;
    display: inline-block;
    width: 100px;
    height: 20px;
    vertical-align: middle;
}
.customize-board-options__colors-label {
    display: inline-block;
    width: 100px;
}
.customize-board-options__colors-head {
    margin: 7px 0;
}
.customize-board-options__colors-save {
    margin: 0 auto;
    display: block;
    width: 150px;
}
.customize-board-options__colors-theme-name {
    width: 100%;
}