.ts-rb {
    border-radius: 0px 5px 5px 5px;
    color: var(--text-normal) !important;
    position: fixed;
    z-index: 100001;
    top: 0px;
    left: 0px;
    width: 250px;
    background-color: var(--bg-total);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 0px;
}
.ts-rb-head {
    cursor: move;
    user-select: none;
    width: 100%;
    color: var(--text-icon);
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.ts-rb-content {
    width: 242px;
    margin: 0 auto 4px;
}
.tsrbc-rtandls {
    overflow: hidden;
}
.tsrbc-rtandls-show {
    height: fit-content;
}
.tsrbh-title {
    float: left;
    font-weight: bold;
}
.tsrbh-icons {
    float: right;
    margin-right: 5px;
}
.tsrbh-icons .ts-iconfont {
    cursor: pointer;
    opacity: 0.6;
}