.ts-rb {
    border-radius: 0px 5px 5px 5px;
    color: var(--text-normal) !important;
    position: fixed;
    z-index: 100001;
    top: 0px;
    left: 0px;
    width: 250px;
    background-color: var(--bg-total);
}
.ts-rb-head {
    cursor: move;
    user-select: none;
    width: 100%;
    color: var(--text-title);
    background-color: var(--bg-title);
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.ts-rb-content {
    width: 246px;
    margin: 2px auto;
}
.tsrbc-rtandls {
    overflow: hidden;
    height: 0px;
}
.tsrbc-rtandls-show {
    height: fit-content;
}
.tsrbh-title {
    float: left;
}
.tsrbh-icons {
    float: right;
    margin-right: 5px;
}
.tsrbh-icons .ts-iconfont {
    cursor: pointer;
    color: var(--text-icon);
    opacity: 0.6;
}