/* Styles from material design */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    cursor: pointer;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.02857em;
    min-width: 64px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: unset;
    font-weight: 500;
    height: 32px;
    font-size: 14px;
    line-height: 1.75;
    --color-default: rgb(25, 118, 210);
}
.btn:disabled {
    background-color: transparent;
    color: rgba(0,0,0,.37);
    cursor: default;
    pointer-events: none;
}
.btn * {
    pointer-events: none;
}
.btn--contained {
    color: #ffffff;
    background-color: var(--color-default);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 16px;
}
.btn--text {
    color: var(--color-default);
    background-color: transparent;
    padding: 6px 8px;
}
.btn--outlined {
    border: 1px solid var(--color-default);
    padding: 0 15px;
    background-color: transparent;
    color: var(--color-default);
}
.btn--icon {
    padding: 6px;
    border-radius: 50%;
    color: var(--color-default);
    background-color: transparent;
    height: auto;
    width: auto;
    overflow: hidden;
    min-width: unset;
}
.btn--icon .iconfont {
    pointer-events: none;
}
.btn--contained:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.btn--contained:active {
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}
.btn--contained:disabled {
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 20%), 0px 0px 0px 0px rgb(0 0 0 / 14%), 0px 0px 0px 0px rgb(0 0 0 / 12%);
    background-color: rgba(0, 0, 0, .12);
    color: rgba(0, 0, 0, .37);
}
.btn--outlined:disabled {
    border-color: rgba(0, 0, 0, .37);
}
.btn:hover .ripple::before {
    opacity: 0.04;
}
.btn:focus .ripple::before {
    opacity: 0.12;
    transition-duration: 75ms;
}
.btn.btn--activation .ripple::after {
    animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.btn.btn--deactivation .ripple::after {
    animation: mdc-ripple-fg-opacity-out 150ms;
    transform: translate(var(--ripple-translate-end, 0)) scale(1.8);
}