.color-adjust>div {
    margin-bottom: 5px;
}
.color-adjust__selected-color {
    height: 100%;
    width: 100%;
    border: 2px solid #fff;
}
.color-adjust__selected {
    height: 24px;
    width: 100%;
    border: 2px solid #000;
}
.color-adjust__save-btn {
    width: 100%;
}
.color-adjust__rgb input {
    width: 100px;
    border: 0;
}
.color-adjust__rgb-label {
    width: 20px;
    display: inline-block;
    text-align: center;
}
.color-adjust .slider {
    margin: 0;
}