.web-page-translate {
    position: fixed;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    right: 10px;
    bottom: 10px;
    padding: 6px 8px;
    border-radius: 8px;
    color: var(--text-normal);
    background: var(--bg-content);
    z-index: 2147483647;
}
.web-page-translate__error {
    margin-bottom: 10px;
    max-width: 285px;
}
.web-page-translate__content .panel-icon-btn>.iconfont {
    font-size: 20px;
}
.web-page-translate__content .source-select {
    padding: 0;
}
.web-page-translate__content > .panel-icon-btn:first-of-type {
    margin-left: 5px;
}
.web-page-translate__select {
    width: 100px;
}
.web-page-translate__content__logo {
    font-size: 20px;
    display: flex;
}
.web-page-translate__content__division {
    margin: 0 8px;
    width: 2px;
    height: 26px;
    background-color: var(--text-normal);
    opacity: 0.4;
}