.title {
    position: relative;
    background: var(--bg-title);
    height: 30px;
    line-height: 30px;
    color: var(--text-title);
}
.title-logo {
    font-size: 16px;
    margin-left: 5px;
}
.title-icons {
    position: absolute;
    right: 5px;
    top: -1px;
}
.title-icons .ts-iconfont {
    font-size: 20px !important;
    cursor: pointer;
}
.title-icons .ts-iconfont:hover {
    color: #fff;
}
.title-icons-enable {
    color: #eee;
}
.title-icons-disable {
    color: #999;
}