.title {
    color: var(--text-icon);
    height: 30px;
}
.title-logo {
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}
.title-icons {
    margin-right: 5px;
}
.title-icons .ts-iconfont {
    font-size: 20px !important;
    cursor: pointer;
    color: var(--text-icon);
}
.title-icons .ts-iconfont:hover {
    opacity: 1;
}
.title-icons-enable {
    opacity: 0.9;
}
.title-icons-disable {
    opacity: 0.6;
}