.options {
    width: 800px;
    margin: 0 auto;
}
.opt-item {
    font-size: 16px;
    padding: 10px;
}
.child-mt10-ml30>* {
    margin-top: 10px;
    margin-left: 30px;
}
.opt-item label {
    cursor: pointer;
}
.options-mode .option-toggle {
    display: inline-block;
    margin-left: 10px;
}
.item-description {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.keyboard-shortcut {
    padding: 5px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 1px #999 solid;
    width: 80px;
    text-align: center;
}
.opt-source-select .ts-source-select {
    width: 150px;
    margin-left: 10px;
    padding: 5px;
}
.opt-source-select .ts-source-select:focus {
    background: var(--bg-select-focus);
}
.opt-source-select .ts-source-select::before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(136, 136, 136, 0.7);
    pointer-events: none;
}
.opt-source-select .ts-source-select:hover::before {
    border-bottom-width: 2px;
}
.link-p {
    cursor: pointer;
    text-decoration: underline;
    display: inline;
}
.link-p:hover,.link-p:focus {
    text-decoration: none;
}