.via {
    padding: 0;
}
.via__content {
    font-size: 14px !important;
    padding: 2px;
    display: flex;
    align-items: center;
}
.via__content-select .source-select__value {
    max-width: 128px;
}
.via__content-select:focus {
    background: var(--bg-select-focus);
}