.ts-via {
    position: relative;
    text-align: right;
    background: var(--bg-content);
    border-radius: 0 0 3px 3px;
    padding: 0 10px;
}
.ts-via-content {
    font-size: 14px !important;
    padding: 2px 0;
}
.ts-via-content .ts-via-pre {
    opacity: 0.7;
}
.ts-via-select {
    margin-left: 10px;
    width: 150px;
}
.ts-via-select:focus {
    background: var(--bg-select-focus);
}