.ts-history {
    font-size: 13px;
    z-index: 100000;
    user-select: none;
    position: fixed;
    top: 0px;
    left: -1px;
    height: 100%;
    width: 200px;
    background: var(--bg-content);
    color: var(--text-normal);
    transform: translate3d(-100%, 0px, 0px);
    transition: transform 0.2s ease 0s;
    padding-top: 40px;
    box-sizing: border-box;
}
.ts-history-show {
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.3s ease-in 0s;
}
.ts-history-show .ts-history-unfold {
    opacity: 0;
    right: 10px;
    pointer-events: none;
    transition: right 0s ease 0s, opacity 0s ease 0s;
}
.ts-history-unfold {
    opacity: 1;
    position: fixed;
    top: 30%;
    right: -25px;
    width: 25px;
    border-radius: 0px 5px 5px 0px;
    word-break: break-all;
    border: 1px #999 solid;
    font-size: 16px;
    text-align: center;
    padding: 10px 2px;
    cursor: pointer;
    user-select: none;
    background-color: #fff;
    box-shadow: rgba(182, 187, 179, 0.6) 1px 1px 1px 1px;
    transition: right 0.25s ease-in 0.2s, opacity 0.35s ease-in 0.2s;
    color: #000;
}
.ts-history-unfold .ts-history-unfold-text {
    display: inline-block;
    font-size: 12px;
    transform: rotate(-180deg);
    writing-mode: tb-rl;
    font-weight: bold;
}
.ts-history-head {
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--text-icon);
    width: 100%;
    background: var(--bg-total);
    padding: 10px 5px;
    min-height: 40px;
    box-sizing: border-box;
}
.ts-history-content {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid var(--bg-total);
}
.ts-history-norecord {
    margin: 20px;
}
.ts-history-head-icons {
    float: right;
    margin-right: 5px;
    margin-top: 0px;
    color: var(--text-icon);
    opacity: 0.6;
    cursor: pointer;
}
.ts-history-head-icons-check {
    transform: rotate(-45deg);
    opacity: 1;
}