.translations-container > div[class*=translations-container__] + div {
    margin-top: 20px;
}
.translations-container__title {
    font-size: 24px;
}
.translations-container__toolbox {
    display: flex;
    justify-content: right;
    align-items: center;
}
.translations-container__undo-delete-note {
    font-size: 16px;
    display: inline-flex;
    background-color: #fff;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
    font-weight: 500;
}
.translations-container__undo-delete-note>button:first-child {
    margin-left: 10px;
}
.translations-container__source-favicon {
    margin-right: 5px;
}
.translations-container__item {
    font-size: 16px;
    background-color: var(--bg-content);
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
}
.tags__item {
    display: inline-flex;
    align-items: center;
    border-radius: 2em;
    border: 1px solid rgb(25, 118, 210);
    padding: 0 7px;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 3px;
}
.tags__item > .iconfont {
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.6;
}