.language-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 4px;
    padding: 4px;
    flex-wrap: wrap;
}
.language-selection>.iconfont {
    cursor: pointer;
}
.language-selection__select {
    width: 100px;
}