body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  margin-block-start: 0;
}
a:hover, a:active {
  box-shadow: none;
}
.dark {
  color: hsla(0, 0%, 100%, 0.88);
  background: #282c35;
}
.light {
  color: #666;
  background: #fff;
}
.dark a {
  color: #ffa7c4;
}
.light a {
  color: #d23669;
}