.translation-display__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}
.translation-display__preview__item + .translation-display__preview__item {
    margin-top: 12px;
}
.translation-display__preview__content {
    width: 350px;
    padding: 10px;
    box-shadow: rgb(0 0 0 / 80%) 0px 0px 5px 0px;
    border-radius: 5px;
    margin-top: 10px;
}