.ts-result {
    background: var(--bg-content);
    height: fit-content;
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    word-break: break-all;
    font-size: 14px;
    max-height: 200px;
    overflow-y: auto;
}
.tss-result {
    margin-bottom: 10px;
}
.tss-result span {
    vertical-align: middle;
    margin-right: 5px;
}
.tss-result .ts-iconfont {
    cursor: pointer;
    vertical-align: middle;
}
.tss-origin-text {
    margin-top: 10px;
}
.tss-origin-text .tss-origin-raw {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 190px;
}
.ts-retry {
    text-decoration: underline;
}
.ts-retry:hover {
    color: #999;
}
.ts-st-dividing-line {
    margin-top: 10px;
}