.ts-result {
    background: var(--bg-content);
    height: fit-content;
    width: 100%;
    margin-bottom: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    word-break: break-all;
    font-size: 14px;
    max-height: 200px;
    overflow-y: auto;
}
.ts-result::-webkit-scrollbar{
    width:4px;
}
.ts-result::-webkit-scrollbar-track{
    background: rgb(239, 239, 239);
    border-radius:2px;
}
.ts-result::-webkit-scrollbar-thumb{
    background: #bfbfbf;
    border-radius:20px;
}
.ts-result::-webkit-scrollbar-thumb:hover{
    background: #999;
}
.tss-result {
    margin-bottom: 10px;
}
.tss-result span {
    vertical-align: middle;
    margin-right: 5px;
}
.tss-result .ts-iconfont {
    cursor: pointer;
    vertical-align: middle;
}
.tss-origin-text {
    margin-top: 10px;
}
.tss-origin-text .tss-origin-raw {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    max-width: 190px;
}
.tss-origin-text .ts-iconfont {
    cursor: pointer;
    vertical-align: middle;
}
.ts-via {
    padding: 2px 0px;
    position: relative;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    text-align: right;
    color: #bbb;
}
.ts-via-select {
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-normal);
    margin-left: 10px;
    width: 150px;
}
.ts-via-select:focus {
    background: var(--select-bg-focus);
}
.ts-via-select option {
    background: #fff;
    color: #000;
}
.ts-retry {
    text-decoration: underline;
}
.ts-retry:hover {
    color: #999;
}