.container {
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  width: 250px;
  height: fit-content;
  background: var(--bg-total);
  padding-bottom: 2px;
  color: var(--text-normal) !important;
}
.content {
  margin: 4px;
  width: 242px;
}