.container {
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  width: 250px;
  height: fit-content;
  background: var(--bg-total);
  padding-bottom: 2px;
}
.content {
  margin: 0 auto;
  height: fit-content;
  width: 240px;
  color: var(--text-normal);
}