* {
    box-sizing: border-box;
}
#sc-translator-root {
    font-size: 14px;
    line-height: initial !important;
}
.button {
    cursor: pointer;
}
.scrollbar::-webkit-scrollbar {
    width:4px;
}
.scrollbar::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
    border-radius: 2px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 20px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #999;
}
.iconbutton {
    opacity: 0.7;
}
.iconbutton:hover {
    opacity: 1;
}
.dividing-line {
    width: 100%;
    height: 1px;
    background: var(--text-normal);
    opacity: 0.7;
    display: block;
}
.span-link {
    cursor: pointer;
    text-decoration: underline;
}
.span-link:hover {
    text-decoration: none;
}
.flex-align-items-center {
    display: flex;
    align-items: center;
}
.flex-justify-content-space-between {
    display: flex;
    justify-content: space-between;
}
.skeleton::after {
    content: 'Loading...';
}
.skeleton {
    height: 100%;
    background-color: #eee;
    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: block;
    line-height: 1;
    width: 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    color: transparent;
}
@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}
.border-bottom-select::before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(136, 136, 136, 0.7);
    pointer-events: none;
}
.border-bottom-select:hover::before {
    border-bottom-width: 2px;
}
.border-bottom-select:focus {
    background: var(--bg-select-focus);
}
.iconfont--enable {
    opacity: 0.7;
    cursor: pointer;
}
.iconfont--enable:hover {
    opacity: 1;
}
.iconfont--disable {
    opacity: 0.4;
}
.ripple {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    border-radius: 4px;
}
.ripple::before, .ripple::after {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
    background-color: currentColor;
}
.ripple::before {
    transition: opacity 15ms linear, background-color 15ms linear;
    z-index: 1;
    top: calc(50% - 100%);
    left: calc(50% - 100%);
    width: 200%;
    height: 200%;
}
.ripple::after {
    width: var(--ripple-size, 100%);
    height: var(--ripple-size, 100%);
    top: 0;
    left: 0;
}
@keyframes mdc-ripple-fg-radius-in {
    from {
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(var(--ripple-translate-start, 0)) scale(var(--ripple-scale-start, 0.3));
    }
    to {
        transform: translate(var(--ripple-translate-end, 0)) scale(var(--ripple-scale-end, 1.08));
    }
}
@keyframes mdc-ripple-fg-opacity-in {
    from {
        animation-timing-function: linear;
        opacity: 0;
    }
    to {
        opacity: var(--ripple-max-opa, 0.12);
    }
}
@keyframes mdc-ripple-fg-opacity-out {
    from {
        animation-timing-function: linear;
        opacity: var(--ripple-max-opa, 0.12);
    }
    to {
        opacity: 0;
    }
}
.spinner, .spinner::before, .spinner::after {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-sizing: border-box;
}
.spinner {
    display: inline-block;
    position: relative;
}
.spinner::before, .spinner::after {
    content: "";
    position: absolute;
}
.spinner::before {
    border: 0.11em solid var(--text-normal);
    opacity: 0.2;
}
.spinner::after {
    border: 0.11em solid transparent;
    border-left-color: var(--text-normal);
    transform: translateZ(0);
    animation: spinning 1.1s infinite linear;
}
@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}