#sc-translator-root {
    font-size: 14px !important;
}
#sc-translator-root.light {
    --text-normal: #666;
    --text-title: #bbb;
    --bg-content: #fff;
    --bg-title: #666;
    --bg-total: #eee;
    --select-bg-focus: #ddd;
    --select-border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    --history-bg: #eee;
    --history-item-hover-bg: #ddd;
    --history-content-border-right: 1px solid #ddd;
}
#sc-translator-root.dark {
    --text-normal: hsla(0, 0%, 100%, 0.88);
    --text-title: #bbb;
    --bg-content: #282c35;
    --bg-title: #222;
    --bg-total: #111;
    --select-bg-focus: #333;
    --select-border-bottom: 1px solid rgba(255, 255, 255, 0.42);
    --history-bg: #282c35;
    --history-item-hover-bg: #444;
    --history-content-border-right: 1px solid #333;
}