.color-selector-platter {
    position: relative;
    width: 256px;
    height: 256px;
}
.color-selector-platter-pointer {
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #000;
    z-index: 2;
}
.color-selector-platter-pointer-inside {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.color-selector-platter-back {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.color-selector-platter-front {
    pointer-events: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}