.ts-mt {
    border-radius: 0px 5px 5px 5px;
    color: var(--text-normal) !important;
    position: fixed;
    z-index: 100001;
    top: 0px;
    left: 0px;
    width: 250px;
    background-color: var(--bg-total);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 0px;
}
.ts-mt-content {
    width: 242px;
    margin: 0 auto 4px;
}
.ts-mt-results {
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
}
.ts-mt-header {
    cursor: move;
    user-select: none;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.ts-mt-header-title {
    float: left;
}
.ts-mt-header-title>span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    font-weight: bold;
    color: var(--text-icon);
}
.ts-mt-header-icons {
    float: right;
    margin-right: 5px;
}
.ts-mt-header-icons .ts-iconfont {
    color: var(--text-icon);
    opacity: 0.6;
}
.ts-mt-result-add-translate-source {
    word-break: break-all;
    padding: 10px;
}