.customize-board-options {
    display: flex;
    width: 800px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #666;
}
.customize-offset {
    display: flex;
}
.customize-offset-item {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 4px;
}
.colors-title {
    margin: 2px;
}
.colors-color {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 0px;
    display: inline-block;
    width: 100px;
    height: 20px;
    border-radius: 4px;
}
.colors-label {
    display: inline-block;
    width: 100px;
}