.add-tag {
    background-color: #fff;
    border-radius: 16px;
    width: 400px;
}
.add-tag__close {
    display: flex;
    justify-content: flex-end;
}
.add-tag__close > button {
    top: 5px;
    right: 5px;
}
.add-tag__content {
    margin: 20px;
}
.add-tag__input-box {
    display: flex;
    position: relative;
    align-items: center;
}
.add-tag__input-box > input {
    flex: 1;
    outline: none;
    border: none;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.87);
    letter-spacing: 0.00938em;
    padding: 8px 0;
}
.add-tag__input-box::before, .add-tag__input-box::after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    pointer-events: none;
}
.add-tag__input-box::before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
.add-tag__input-box:hover::before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}
.add-tag__input-box::after {
    border-bottom: 2px solid rgb(25, 118, 210);
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.add-tag__input-box:focus-within::after {
    transform: scaleX(1) translateX(0);
}
.add-tag__existed__search {
    margin-bottom: 8px;
}
.add-tag__existed__search__title {
    margin-bottom: 8px;
    font-size: 20px;
}
.add-tag__existed {
    margin: 20px;
}
.add-tag__existed__tags {
    max-height: 270px;
    overflow-y: auto;
}
.add-tag__existed__tags__item.added {
    color: rgba(51, 51, 51, 0.42);
}