.single-translation {
    background: var(--bg-content);
    border-radius: 4px;
    box-shadow: rgb(60 64 67 / 30%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 1px 3px 1px;
}
.single-translation__translation {
    overflow-y: auto;
}