.source-selector {
    position: absolute;
    width: 200px;
    max-height: 100px;
    background: var(--bg-content);
    bottom: 0px;
    right: -3px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.source-selector__item {
    padding: 6px;
    overflow: hidden;
}
.source-selector__item:hover {
    background: var(--bg-item-hover);
}
.source-selector__item-source {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 130px;
}
.source-selector__item-icons {
    float: right;
}