.multiple-sources-display__item {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
.multiple-sources-display__preview {
    grid-template-columns: max-content auto;
    display: grid;
    min-height: 30px;
}
.multiple-sources-display__preview .multiple-sources-display__item {
    margin-top: 5px;
}