.ts-history-item {
    display: flex;
    width: 100%;
    height: 50px;
    overflow: hidden;
    font-size: 14px;
}
.ts-history-item:hover {
    background: var(--bg-item-hover);
}
.ts-history-item-content {
    color: var(--text-normal);
    padding-left: 5px;
    width: 150px;
    cursor: pointer;
    height: 50px;
}
.ts-history-item-content-text, .ts-history-item-content-result {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ts-history-item-icons {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50px;
}
.ts-history-item-icons .ts-iconfont {
    font-size: 15px !important;
}