.translate-result {
    padding: 10px 0;
}
.translate-result__item-stack .iconfont {
    position: relative;
    bottom: .125em;
}
.translate-result__item-stack .iconfont:first-child {
    margin-left: 5px;
}
.translate-result__item-stack + .translate-result__item-stack {
    margin-block-start: 0.8em;
}