.mt-result {
    background: var(--bg-content);
    width: 100%;
    margin-bottom: 3px;
    word-break: break-all;
    border-radius: 6px;
    padding: 0px 10px;
}
.mt-result__head {
    padding: 2px 0px;
    color: var(--text-normal);
    font-size: 14px;
}
.mt-result__head__left {
    display: grid;
    grid-template-columns: auto max-content max-content;
    align-items: center;
}
.mt-result__head-icons {
    margin-right: 5px;
}
.mt-result__head__badge {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}