.panel-icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    padding: 3px;
    cursor: pointer;
    --ripple-max-opa: 0.16
}
.panel-icon-btn:not(.panel-icon-btn--disabled):hover .ripple::before {
    opacity: 0.08;
}
.panel-icon-btn.panel-icon-btn--activation .ripple::after {
    animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
}
.panel-icon-btn.panel-icon-btn--deactivation .ripple::after {
    animation: mdc-ripple-fg-opacity-out 150ms;
    transform: translate(0) scale(1.8);
}
.panel-icon-btn.panel-icon-btn--disabled {
    cursor: default;
    opacity: 0.4;
}