.translate-button {
    user-select: none;
    border-radius: 3px;
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, .88) ;
    color: var(--text-normal);
    background: var(--bg-content);
    position: fixed;
    z-index: 2147483647;
}