.source-select {
    position: relative;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    outline: 0;
    white-space: pre;
    padding: 2px;
    max-width: 150px;
}
.source-select .iconfont {
    margin-left: 4px;
}
.source-select--disabled {
    color: rgb(170, 170, 170);
    opacity: 0.7;
}
.source-select__options {
    background: var(--bg-content);
    color: var(--text-normal);
}
.source-select__value {
    flex: 1;
    overflow: hidden;
}
.source-select__options__option {
    padding: 4px;
    overflow: hidden;
    cursor: pointer;
}
.source-select__options__option:hover {
    background: var(--bg-item-hover);
}
.source-select__favicon-only {
    pointer-events: none;
}