.ts-source-select {
    position: relative;
    text-align: start;
    align-items: center;
    display: inline-flex;
    cursor: default;
    vertical-align: middle;
    user-select: none;
    outline: 0;
    white-space: pre;
    padding: 2px 3px;
}
.ts-source-select-disabled {
    color: rgb(170, 170, 170);
    opacity: 0.7;
}
.ts-source-select-options {
    background: var(--bg-content);
    color: var(--text-normal);
    border-radius: 5px;
}
.ts-source-select-value {
    width: calc(100% - 20px);
    overflow: hidden;
}
.ts-source-select-option {
    padding: 6px;
    overflow: hidden;
}
.ts-source-select-option:hover {
    background: var(--bg-item-hover);
}