.ts-source-select {
    position: relative;
    text-align: start;
    box-sizing: border-box;
    align-items: center;
    display: inline-flex;
    cursor: default;
    vertical-align: middle;
    user-select: none;
    outline: 0;
    white-space: pre;
    padding: 2px 3px;
}
.ts-source-select-disabled {
    color: rgb(170, 170, 170);
    opacity: 0.7;
}
.ts-source-select-options {
    position: absolute;
    background: var(--bg-content);
    color: var(--text-normal);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: inherit;
    overflow-y: auto;
    max-height: 300px;
}
.ts-source-select-value {
    box-sizing: border-box;
    width: calc(100% - 20px);
    overflow: hidden;
}
.ts-source-select-option {
    padding: 6px;
    overflow: hidden;
}
.ts-source-select-option:hover {
    background: rgb(221,221,221, 0.2);;
}