.text-field {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    margin: 8px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
}
.text-field.text-field--error {
    color: #d32f2f;
}
.text-field__label {
    position: absolute;
    top: 0;
    left: 0;
    color: currentColor;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    transform-origin: left top;
    transform: translateY(20px);
    transition: color 200ms, transform 200ms, max-width 200ms;
}
.text-field:not(.text-field--error):focus-within > .text-field__label {
    color: rgb(25, 118, 210);
}
.text-field:focus-within > .text-field__label, .text-field__label.value-not-empty {
    transform: translateY(-1.5px) scale(0.75);
    max-width: 133%;
}
.text-field__input-area {
    position: relative;
    width: 100%;
    display: inline-flex;
}
.text-field__label + .text-field__input-area {
    margin-top: 16px;
}
.text-field input {
    font-size: inherit;
    background: none;
    border: 0;
    outline: 0;
    padding: 4px 0 5px;
    height: 2em;
    color: currentColor;
    width: 100%;
    color: rgba(0, 0, 0, 0.87);
}
.text-field textarea {
    font-size: inherit;
    background: none;
    border: 0;
    outline: 0;
    color: currentColor;
    width: 100%;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
}
.text-field input::placeholder, .text-field textarea::placeholder {
    color: currentColor;
    opacity: 0.5;
}
.text-field input.labeled-input::placeholder, .text-field textarea.labeled-input::placeholder {
    opacity: 0;
    transition: opacity 200ms;
}
.text-field input.labeled-input:focus::placeholder, .text-field textarea.labeled-input:focus::placeholder {
    opacity: 0.5;
}
.text-field textarea {
    resize: none;
}
.text-field__input-area::before, .text-field__input-area::after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    pointer-events: none;
}
.text-field__input-area::before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
.text-field__input-area:hover::before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}
.text-field__input-area::after {
    border-bottom: 2px solid rgb(25, 118, 210);
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.text-field__input-area:focus-within::after {
    transform: scaleX(1) translateX(0);
}
.text-field.text-field--error > .text-field__input-area::before {
    border-bottom: 1px solid currentColor;
}
.text-field.text-field--error > .text-field__input-area:hover::before {
    border-bottom: 1px solid currentColor;
}
.text-field.text-field--error > .text-field__input-area::after {
    border-bottom: 2px solid currentColor;
}
.text-field__helper-text {
    font-size: 0.75em;
    margin: 3px 0 0;
    color: currentColor;
}