.options-menu__item {
    padding: 10px 0 10px 60px;
    width: 250px;
}
.options-menu__item:hover {
    opacity: 0.6;
}
.side-bar-menu {
    height: calc(100% - 56px);
    position: fixed;
    left: 0;
    top: 56px;
}
.side-bar-menu__items {
    height: 100%;
    overflow: auto;
}
.nav-bar-menu__icon {
    display: none;
    font-size: 2.5em;
}
.nav-bar-menu__backdrop {
    background-color: rgba(0,0,0,.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10000;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: 100ms;
}
.nav-bar-menu__sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background: var(--bg-total);
    transition: transform 200ms;
    transform: translateX(-100%);
    z-index: 10001;
}
.nav-bar-menu__sidebar-brand {
    font-size: 16px;
    height: 56px;
    padding-left: 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.nav-bar-menu__sidebar-items {
    width: 250px;
}
.nav-bar-menu--show .nav-bar-menu__sidebar {
    transform: translateX(0);
}
.nav-bar-menu__backdrop.nav-bar-menu--show {
    visibility: visible;
    opacity: 1;
}
.opt-nav-bar {
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    height: 56px;
    background: var(--bg-content);
    color: var(--text-normal);
    padding-left: 20px;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1234px) {
    .nav-bar-menu__icon {
        display: inherit;
    }
    .side-bar-menu {
        display: none;
    }
}
.main-title {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 10px;
}