.options {
    width: 800px;
    margin: 0 auto;
}
.opt-item {
    font-size: 16px;
    padding: 10px;
}
.child-mt10-ml30>* {
    margin-top: 10px;
    margin-left: 30px;
}
.opt-item label {
    cursor: pointer;
}
.default-select select {
    width: 150px;
    margin-left: 10px;
}
.host-list {
    border: 1px solid #999;
    width: 400px;
    padding: 5px;
}
.host-list-add {
    display: flex;
    margin-bottom: 3px;
}
.host-list-add input {
    flex: 1;
}
.host-list-add button {
    width: 50px;
}
.host-list-box {
    height: 150px;
    overflow-y: auto;
}
.host-list-item {
    cursor: pointer;
    display: flex;
    padding: 5px;
}
.host-list-item:hover {
    background-color: rgb(221,221,221, 0.2);
}
.host-list-item:not(:last-child) {
    border-bottom: 1px solid #999;
}
.host-list-item input {
    flex: 1;
}
.host-list-item span {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 8;
}
.host-list-menu {
    margin-top: 3px;
    border-top: 1px solid #999;
    padding-top: 3px;
}
.host-list-menu input {
    margin-left: 10px;
    margin-right: 20px;
}
.host-list-menu button {
    width: 50px;
}
.options-mode .option-toggle {
    display: inline-block;
    margin-left: 10px;
}
.transfer-content {
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.transfer-box {
    box-shadow: -3px 3px 1px -1px rgba(153,153,153,0.2), 1px -2px 1px 0px rgba(153,153,153,0.14), 3px 1px 3px 0px rgba(153,153,153,0.12);
}
.transfer-box>hr {
    border: none;
    height: 2px;
    margin: 0;
    background-color: rgba(153, 153, 153, 0.12);
}
.transfer-box-head {
    padding: 8px 16px;
}
.transfer-box-list {
    height: 200px;
    width: 200px;
}
.transfer-box-list-item {
    cursor: pointer;
    padding: 10px;
}
.transfer-box-list-item:hover {
    background-color: rgb(221,221,221, 0.2);
}
.operation-panel {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}
.operation-panel button {
    min-width: 60px;
    margin: 4px 0px;
    padding: 3px 9px;
}
.item-description {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.keyboard-shortcut {
    padding: 5px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 1px #999 solid;
}