.panel {
    border-radius: 6px;
    color: var(--text-normal) !important;
    position: fixed;
    z-index: 2147483647;
    width: 250px;
    background-color: var(--bg-total);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 5px 0px;
    min-width: 250px;
}
.panel__content {
    margin: 0 4px 4px 4px;
}
.panel__header {
    cursor: grab;
    user-select: none;
    padding: 2px 4px;
    color: var(--text-icon);
}
.panel__header-logo {
    font-weight: bold;
    font-size: 20px;
}
.panel__header-icons .iconfont {
    font-size: 18px;
}