.ts-rb {
    border-radius: 0px 5px 5px 5px;
    color: var(--text-normal) !important;
    position: fixed;
    z-index: 2147483647;
    width: 250px;
    background-color: var(--bg-total);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 0px;
    min-width: 250px;
}
.ts-rb-content {
    margin: 0 4px 4px 4px;
}
.ts-rb-header {
    cursor: move;
    user-select: none;
    width: 100%;
    padding: 0 5px;
    color: var(--text-icon);
    height: 30px;
}
.ts-rb-header-title {
    font-weight: bold;
}
.ts-rb-header-icons {
    margin-right: 5px;
}
.ts-rb-header-icons .ts-iconfont {
    opacity: 0.6;
}