.panel {
    border-radius: 6px;
    color: var(--text-normal) !important;
    position: fixed;
    z-index: 2147483647;
    width: 250px;
    background-color: var(--bg-total);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 10px 0px;
    min-width: 250px;
}
.panel__content {
    margin: 0 5px 5px 5px;
}
.panel__header {
    cursor: move;
    user-select: none;
    width: 100%;
    padding: 0 5px;
    color: var(--text-icon);
    height: 30px;
}
.panel__header-logo {
    font-weight: bold;
    font-size: 14px;
}
.panel__header-icons {
    margin-right: 5px;
}